html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #17181C;
  color: #fff;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.blank {
  display: block;
  height: 200px;
  width: 100%;
}
.blank-medium {
  display: block;
  height: 50px;
  width: 100%;
}
.blank-mini {
  display: block;
  width: 100%;
  height: 10px;
}
.span {
  position: relative;
  border-radius: 5px;
  background-color: #555555;
  height: 2px;
  width: 100%;
}

/* Header section */

.headertext {
  text-align: center;
  font-family: "Outfit", Sans-Serif;
  font-size: 18px;
  margin: 5px;
}

.subheadertext {
  text-align: center;
  font-family: "JetBrains Mono", Sans-Serif;
  font-size: 12px;
  color: #ccc;
}
/* About Me section */
#profileImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.abouttext {
  margin: 6px;
  font-family: JetBrains Mono;
  margin-top: 13px;
}
.socialmedia {
  margin: 6px;
  width: 100%;
}
.sm {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 3px;
}
li {
  font-family: Geist Mono;
  font-size: 15px;
}
 .skillsBadges {
  margin: 5px;
 }

.skillsdiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

.skillstext {
  font-weight: bold;
  margin: 5px;
  font-size: 17px;
  color: #fff;
  background-color: #03749b;
  padding: 7px;
  border-radius: 20px;
  text-align: center;
}
.skillstext2 {
  font-weight: bold;
  margin: 5px;
  font-size: 17px;
  color: #fff;
  background-color: #009912;
  padding: 7px;
  border-radius: 20px;
  text-align: center;
}
.skillstext3 {
  font-weight: bold;
  margin: 5px;
  font-size: 17px;
  color: #fff;
  background-color: #ff8022;
  padding: 7px;
  border-radius: 20px;
  text-align: center;
}

.dev_div{
  width: 325px;
  height: 210px;
  background: linear-gradient(
  45deg,
  #00bb07,
  #00ff00);
  color: #000;
  border-radius: 20px;
  border: 3px solid white;
  padding: 10px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
  overflow-x: auto;
}
.dev_div:hover {
  transform: scale(1.2);
}
.fend_div{
  width: 325px;
  height: 210px;
  background: linear-gradient(
  45deg,
  #00cff9,
  #00f0ff);
  color: #000;
  border-radius: 20px;
  border: 3px solid white;
  padding: 10px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
  overflow-x: auto;
}
.fend_div:hover {
  transform: scale(1.2);
}
.other_div {
  width: 325px;
  height: 210px;
  background: linear-gradient(
  45deg,
  #ffa022,
  #ffba75);
  color: #000;
  border-radius: 20px;
  border: 3px solid white;
  padding: 10px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
  overflow-x: auto;
}
.other_div:hover {
  transform: scale(1.2);
}
/* Navbar section */
#navbar {
  position: fixed;
  font-weight: bold;
  background: #000000;
  top: 0px;
  width: 100%;
  height: 40px;
  justify-content: center;
  
  border-radius: 0 0 10px 10px;
  z-index: 997;
}
#profile {
  position: fixed;
  top: 6px;
  text-align: right;
  right: 9px;
  font-family: "Outfit", Sans-Serif;
  font-size: 0.9rem;
  color: #fff;
  line-height: 26px;
  margin: 1px;
  z-index: 999;
  font-style: italic;
}
.link {
  border-radius: 8px;
  padding: 4px;
  font-family: "Lato", Sans-Serif;
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
  margin: 1px;
}
.link:hover {
  border: 2px solid #dddddd;
  animation: navbar 0.3s ease-out;
  animation-fill-mode: forwards;
}

/* Projects/Sertification Section */
.projectsheader {
   display: block;
   text-align: center;
   font-family: "Outfit", Sans-Serif;
   margin: 5px;
   font-size: 26px;
   padding-bottom: 10px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
  gap: 5px;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-items: start;
  align-items: stretch;
  justify-content: start;
}
.project-tile {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  border-radius: 10px;
  border: 1px solid #aaa;
}
.img{
  height: auto;
  width: 100%;
  border-radius: 10px
}

.project-link{
  color: #00A0FF;
  text-decoration: none;
  padding-bottom: 10px;
}
.project-text {
  font-family: "Arial", Sans-Serif;
}

/* Social Media Section */
#social {
  background: linear-gradient(
  180deg,
  #111111 0%,
  #ffffff 15%,
  #ffffff 50%,
  #cccccc 85%,
  #ccc 100%);
  display: block;
  position: relative;
  height: 370px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
#socialtitle {
  position: relative;
  top: 90px;
  color: #000;
  font-family: "Outfit", Serif;
}
.profile-link {
  position: relative;
  top: 90px;
  text-decoration: none;
  margin: 15px;
  color: #434;
  font-family: "Outfit", Sans-Serif;
}
#span1 {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 120px;
}
.contactus {
  position: relative;
  font-family: "Outfit", Serif;
  top: 140px;
  color: #000000;
}
#mailcollector {
  position: relative;
  top: 140px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  height: 30px;
  width: 250px;
}
#submitbutton {
  position: relative;
  top: 140px;
  height: 35px;
  border-radius: 10px;
  width: 60px;
  color: #fff;
  background-color: #0060cc;
  border-top-color: #00aaff;
  border-right-color: #0050f0;
  border-bottom-color: #0050f0;
  border-left-color: #00aaff;
  font-family: "Outfit", Arial;
}
#bookmark {
  position: absolute;
  width: 25px;
  height: 70px;
  background: linear-gradient( 
  180deg,
  #111111 0%,
  #222 3%,
  #ffc700cc 20%,
  #ffc700cc 50%,
  #ffcf00ff 70%,
  #ffcf00ff 90%,
  #ffffff 100%);
  top: 0px;
  right: 30px;
}
.footer {
  display: block;
  height: 100px;
  width: 100%;
}
#copyright {
  position: relative;
  text-align: center;
  justify-content: center;
  top: 80px;
  color: #ffffff77;
  font-size: 12px;
}
/* Keyframes */
@keyframes welcome {
  0% {
    color: #aa0000;
  }

  25% {
    color: #00aa00
  }

  75% {
    color: #0000aa;
  }
  100% {
    color: #aa0000;
  }
}
 
/* Media */
@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    gap: 5px;
    justify-items: start;
    justify-content: start;
  }
  .project-tile {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 5px;
    justify-items: start;
    justify-content: start;
  }
  .project-tile {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width:600px) {
  .img {max-width: 300px;
  }
  .fend_div , .other_div, .dev_div {
   display: inline-block;
   vertical-align: top;
  }
  .skillsdiv {
    justify-content: center;
  }
}