html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #111111;
  color: #fff;
}
.blank {
  display: block;
  height: 200px;
  width: 100%;
}
.blank-medium {
  display: block;
  height: 50px;
  width: 100%;
}
.span {
  position: relative;
  border-radius: 5px;
  background-color: #555555;
  height: 2px;
  width: 100%;
}
/*Welcome Section*/
.welcomediv {
  display: block;
  position: static;
  height: 700px;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.author {
  display: block;
  position: relative;
  top: 278px;
  font-style: italic;
  font-family: "Outfit", Sans-Serif;
  font-size: 13px;
}
.welcometext {
  position: relative;
  top: 300px;
  margin: 20px;
  display: block;
  text-align: center;
  font-family: Outfit;
  justify-content: center;
  animation: welcome 7s infinite linear;
}
.arrow {
  position: absolute;
  background-color: black;
  height: 80px;
  width: 6px;
  top:450px;
  left: 50%;
  animation: arrows 2s infinite linear;
}
.arrowp1 {
  position: absolute;
  background-color: black;
  transform: rotate(45deg);
  height: 40px;
  width: 6px;
  top:494px;
  left: 54%;
  animation: arrows2 2s infinite linear;
}
.arrowp2 {
  position: absolute;
  background-color: black;
  transform: rotate(-45deg);
  height: 40px;
  width: 6px;
  top:494px;
  left: 46%;
  animation: arrows2 2s infinite linear;
}

/* Navbar section */
#navbar {
  position: fixed;
  font-weight: bold;
  text-align: center;
  background: #000000;
  top: 0px;
  width: 100%;
  height: 40px;
  justify-content: center;
  overflow:hidden;
  border-radius: 0 0 10px 10px;
}
.link {
  border: 2px solid #333;
  border-radius: 13px;
  padding: 4px;
  font-family: "Verdana", serif;
  font-size: 0.9rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
  margin: 1px;
}
.link:hover {
  border: 2px solid #dddddd;
  animation: navbar 0.3s ease-out;
  animation-fill-mode: forwards;
}

/* Projects Section */
.projectsheader {
   display: block;
   font-family: "Outfit", Sans-Serif;
}
.projects-grid{
  position: static;
  display: grid;
  grid-template-columns: 50%, 50%;
  
  grid-template-rows: 500;
  grid-auto-flow: column;
  grid-column-gap: 3px;
}

.img{
  height: auto;
  width: 100%;
}

.project-link{
  color: #00A0FF;
  text-decoration: none;
}
.project-text {
  font-family: arial;
}

/* Social Media Section */
#social {
  background: linear-gradient(
  180deg,
  #111111 0%,
  #ffffff 15%,
  #ffffff 50%,
  #cccccc 85%,
  #ccc 100%);
  display: block;
  position: relative;
  height: 370px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
#socialtitle {
  position: relative;
  top: 90px;
  color: #000000;
  font-family: "Outfit", Serif;
}
.profile-link {
  position: relative;
  top: 90px;
  text-decoration: none;
  margin: 15px;
  color: #000000;
  font-family: "Outfit", Serif;
}
#span1 {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 120px;
}
.contactus {
  position: relative;
  font-family: "Outfit", Serif;
  top: 140px;
  color: #000000;
}
#mailcollector {
  position: relative;
  top: 140px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  height: 30px;
  width: 250px;
}
#submitbutton {
  position: relative;
  top: 140px;
  height: 35px;
  border-radius: 10px;
  width: 60px;
  color: #fff;
  background-color: #0060cc;
  border-top-color: #00aaff;
  border-right-color: #0050f0;
  border-bottom-color: #0050f0;
  border-left-color: #00aaff;
  font-family: "Outfit", Arial;
}
#bookmark {
  position: absolute;
  width: 25px;
  height: 70px;
  background: linear-gradient( 
  180deg,
  #111111 0%,
  #222 3%,
  #ffc700cc 20%,
  #ffc700cc 50%,
  #ffcf00ff 70%,
  #ffcf00ff 90%,
  #ffffff 100%);
  top: 0px;
  right: 30px;
}
.footer {
  display: block;
  height: 100px;
  width: 100%;
}
#copyright {
  position: relative;
  text-align: center;
  justify-content: center;
  top: 80px;
  color: #ffffff88;
}
/* Keyframes */
@keyframes welcome {
  0% {
    color: #aa0000;
  }

  25% {
    color: #00aa00
  }

  75% {
    color: #0000aa;
  }
  100% {
    color: #aa0000;
  }
}
@keyframes navbar {
  0% {
    font-size: 0.9rem;
  }
  100% {
    font-size: 1.20rem;
  }
}
@keyframes arrows {
  0% {
    background: linear-gradient(
    #faffaf99,
    #000000);
  }
  100% {
    background: linear-gradient(
    #000000,
    #faffaf);
  }
}
@keyframes arrows2 {
  0% {
    background: linear-gradient(
    #000000,
    #000000);
  }
  100% {
    background: linear-gradient(
    #000000,
    #faffaf);
  }
}
