.aboutTypeText {
    font-family: Inter;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.about {
    display: flex;
    gap: 16px;
    padding-bottom: 35px;
}

.aboutRight {
    border-top: 1px solid var(--card-border-alt);
    border-left: 2.5px solid var(--card-border-alt);
    border-right: 1px solid var(--text-color);
    border-bottom: 2.5px solid var(--text-color);
    padding: 16px;
    flex: 1;
    border-radius: 12px 0px;
    background-color: var(--card-bg);
}

.pp {
    width: 130px;
    border-radius: 50%;
}

.userName {
    font-family: Outfit;
    font-size: 16px;
    margin: 5px 0px;
    color: var(--secondary-text);
}

.miniBio {
    font-family: inter;
    font-size: 14px;
}

.socialMedia {
    margin: 10px 0px 0px 0px;
    display: flex;
    gap: 5px;
}

.socialMedia a {
    color: inherit;
}

.socialIcons {
    width: 24px;
    height: 24px;
    filter: var(--icon-filter);
    /* I can add a filter variable if needed, but react-icons are better */
}

.aboutLeft {
    border-top: 1px solid var(--card-border-alt);
    border-left: 2.5px solid var(--card-border-alt);
    border-right: 1px solid var(--text-color);
    border-bottom: 2.5px solid var(--text-color);
    padding: 16px;
    flex: 1;
    color: var(--text-color);
    font-family: Inter;
    border-radius: 12px 0px;
    background-color: var(--card-bg);
}

.skillIcons {
    max-width: 500px;
    margin-top: 12px;
}

.skillIconsContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.certificateGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    padding: 0 0 20px 0;
}

.certificateGridElement {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--card-border-alt);
    background-color: var(--card-bg);
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.certificateImg {
    max-width: 250px;
    height: 150px;
    object-fit: cover;
}

.certificateInfo {
    margin: 0 10px;
    position: relative;
    width: 100%;
}

.certificateHeader {
    font-size: 1rem;
    font-family: Inter;
    font-weight: bold;
    margin-top: 5px;
}

.certificateParagraph {
    font-size: 0.9rem;
    font-family: Inter;
    color: var(--secondary-text);
    margin-top: 5px;
}

.certificateBadges {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: auto;
    width: 100%;
}

.certificateBadge {
    background-color: var(--badge-bg);
    border: 1px solid var(--badge-border);
    color: var(--text-color);
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 0.7rem;
    font-family: Inter;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .certificateGridElement {
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        text-align: center;
    }

    .certificateImg {
        max-width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .certificateInfo {
        margin: 10px 0;
        padding: 0 10px 10px 10px;
    }

    .certificateBadges {
        position: static;
        margin-top: 10px;
        justify-content: center;
    }

    .skillIcons {
        max-width: 300px;
        margin-top: 12px;
    }
}