.navbar-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

.navbar {
    max-width: 1104px;
    margin: 0 auto;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.2px solid #E5E2E1;
    background-color: transparent;
}

.logo {
    font-family: Inter;
    font-size: 1.2rem;
}

.navbarright {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navbarList {
    text-decoration: none;
    color: #1A1A1A;
    font-family: Inter;
    font-size: 0.8rem;
    border-bottom: 1px solid #1A1A1A;
    padding: 3px 0px;
}

.navbarList:hover {
    border-bottom: 1px solid #699F35;
    color: #699F35;
}

.cv {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: #396A00;
    color: #fff;
    width: 40px;
}

.cv:hover {
    border: none;
    background-color: #50841C;
    color: #fff;
}

.cvIcon {
    width: 20px;
    height: 15px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 12px 0;
    }

    .logo {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: row;
        gap: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbarright {
        gap: 10px;
    }

    .navbarList {
        font-size: 0.75rem;
    }
}